:root {
  --primary-color: #FFEBAD;
}
html {
  height: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;

  flex-direction: column;
  align-items: center;



}

h1 {
  color:#263F44 ;
  text-align: center;
}

p {
  text-align: center;
}



.money-img {
  width: 150px;
}



.swap-rate-container {
  size: px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  align-content: left;
  width: 431px;
}
.swap{
  padding: 5px 5px 5px 5px;
  position: relative;
  left: px;
  font-size: 20px;
}

.rate {
  color: var(--primary-color);
  font-size: 0px;
  padding: 0 10px;
}

select:focus, input:focus, button:focus {
  outline: 0;
}

.btn-hv {
  background-color: #263F44;
  border: none;
  color: white;
  text-align: center;
  transition: 0.5s;
  border: #263F44;
}

.btn-hv:hover {
  background-color: white;
  color: #263F44;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}


.ifont{
  color: white
}




.{
  color: white;
  font-size: 25;
  border-width: 20;
  border-color: blue;
  border-radius: 1cm;
}


.grid-container1 {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-item1 {

  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;

  
}


.cards{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
  


.cards:hover{

  box-shadow: 5px 6px 6px 2px #000f1e;
  transform: scale(1.1);
}

.wrapper{
  height: 400px;
  width: 720px;
  background-image: linear-gradient(to bottom left,#a4d1a2,#b1eece );
  background-color:#ffffff;
  margin-top: 10vh;
  padding:20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 1;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 90px;
}